# Project dependencies
.yarn
.cache
*.pyc
node_modules/
*.log
*.lock

# Build directory
/build
/dist
__pycache__/
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
